@{
    ViewData["Title"] = "Home";
}

<body style="background-color: #F9EAD2;">
<div class="text-center">
    <h1 class="display-4" style="color: #D43307;">Don't eat to live, live to eat</h1>
    
    <p>My hobby is food. My wife and I love trying new and exotic foods. We are always trying to find the best restaurants in whatever city we are visiting.
        We travel for work so we get to travel to new places a lot and we are always looking up the best restaurants in the area to try. We have a list where we track each
        restaurant in each state and write down what we ate. It is fun to ask all our friends where their favorite restaurants are and then go and try them.</a>.</p>
    <img src="IMG_0807.JPG" height="400" />
    <img src="IMG_2880.JPG" height="400" />
    <img src="IMG_2923.JPG" height="400" />
    <img src="IMG_3344.JPG" height="400" />
    <img src="IMG_4060.JPG" height="400" />
</div>
</body>