@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There is no privacy policy. I want this to be public so that the entire world can learn the importance of eating good 
    food and having new experiences while refining your palate. 
</p>
